{% extends 'news/base.html' %}

{% block title %} Yangilikni o'chirish {% endblock %}

{% block content %}
    <h2 class="text-center">Yangilikni o'chirishni tasdiqlang</h2>
    <p>Haqiqatan ham <strong>{{ object.title }}</strong> yangiligini o'chirmoqchimisiz?</p>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'all_news_list' %}" class="btn btn-secondary">Bekor qilish</a>
        <button type="submit" class="btn btn-danger">O'chirish</button>
    </form>
{% endblock %}